<div class="main-panel" >
    <h2 style="text-align: center;">Agregar y calcular ICM</h2>
    <div class="content" >
        <div class="btn btn-danger" ng-show="error">Erro al Guargar el registro</div>
        <div class="container-fluid">
        
        <!-- Agregar & Editar Usuario  -->
            <div class="row" id="Edit_AddUser" >
                
                <form>
                <div class="col-md-4">
                <div class="form-group bmd-form-group">
                  <label class="bmd-label-floating">nombre</label>
                  <input type="text" class="form-control" ng-model="usuario.nombre">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group bmd-form-group">
                  <label class="bmd-label-floating">edad</label>
                  <input type="number" class="form-control" ng-model="usuario.edad">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group bmd-form-group">
                  <label class="bmd-label-floating">peso</label>
                  <input type="text" class="form-control" ng-model="usuario.peso">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group bmd-form-group">
                  <label class="bmd-label-floating">altura (cm)</label>
                  <input type="text" class="form-control" ng-model="usuario.altura">
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                                <div class="form-group bmd-form-group">
                                    <label>sexo</label> 
                                    <md-select  ng-model="usuario.sexo">
                                    
                                        <md-option  
                                        value="H">Hombre</md-option>	
                                        <md-option  
                                        value="M">Mujer</md-option>	
                                    </md-select>
                                </div>
                            </div>
                            
                             
                       
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 float-right mt-4">
                <button type="submit" class="btn btn-primary"  ng-click="guardar()">Guardar</button>
                    <div class="clearfix"></div>
                </div>
                
            </form>
                
            </div>
    
        
        
        
        
        </div>
        
        </div>
        
        </div>
        
